body {
    text-align: center;

}

#control {
    margin-top: 200px;
}

#break, #session {
    display: inline-block;
    margin: 0 30px;
}

#display {
    display: inline-block;
    margin: 50px;
    height: 300px;
    width: 300px;
    border: 2px solid #99CC00;
    border-radius: 50%;
    font-size: 4em;
    cursor: pointer;
}

#display-title {
    font-family:Open Sans, Arial;
    font-size: 0.8em;
    margin-top: 40px;
}

#display-minute {
    margin-top: 50px;
}